.Tags {
    position: relative;
}

.Tags__header {
    position: relative;
    display: flex;
    gap: 5px;
    color: #A29247;
}

.Tags__headerButton {
    transition: 0.5s ease opacity;
    opacity: 1;
    cursor: pointer;
}

.Tags__headerButton_hide {
    opacity: 0;
}

.Tags__content {
    color: #A29247;
    background-color: #0A0F2B;

}

.Tags__contentWrapper {
    overflow: hidden;
    transition: 0.5s ease max-height;
    top: 0;
    position: absolute;
    z-index: 1;

}