html {
    scroll-behavior: smooth;
}

@import url("../fonts/font/stylesheet.css");


body {
    margin: 0;
    background-color: #0a0f2b;
    font-family: 'Roboto', sans-serif;
    font-family: 'Myriad Pro';
}

li {
    list-style-type: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 0px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 0px;
}

.info-container {
    width: 100%;
    max-width: 650px;
    margin: 0px auto;
    padding: 0 0px;
    display: none;
}

.button-container {
    width: 100%;
    max-width: 650px;
    margin: 0px auto;
    padding: 0 0px;
    margin-top: 20px;
    rotate: 0deg;
}

input {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
}

.hidden {
    display:none;
}

input:focus {outline: 0;}

// header

.header-inner {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    margin-top: 20px;
}

.header-navigation_burger {
    display: none;
}

.header-navigation_burger-stick {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    &:last-child {
        margin-bottom: 0px;
    }
}



.header-menu {
    margin-top: 100px;
    & > a {
        font-size: 24px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-family: 'Myriad Pro';
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 200;
        margin-top: 140px;
        margin-right: 164px;
        &:hover {
            color: #fcff00;
        }
    }
}

.header-authorization {
    margin-top: 100px;
    & > a {
        font-size: 22px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-family: 'Myriad Pro';
        text-decoration: none;
        &:hover {
            color: #fcff00;
        }
    }
}

// main

.slider {
    position: relative;
    margin-top: 50px;
  }
  
  .slider__container {
    overflow: hidden;
  }
  
  .slider__items {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slider_disable-transition {
    transition: none;
  }
  
  .slider__item {
    font-size: 25px;
    color: #ffff;
    flex: 0 0 100%;
    max-width: 100%;
    user-select: none;
  }

  .slider__item-video {
      display: flex;
      justify-content: center;
  }

  .img-button {
    transform: rotate(180deg);
  }

  .slider-video {
      margin: 0px auto;
  }

  .slider-button_open:hover {
    opacity: 0.7;
  }
  
  /* кнопки влево и вправо */
  
  .slider__control {
    position: absolute;
    top: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    height: 50px;
    transform: translateY(-50%);
  }
  
  .slider__control_hide {
    display: none;
  }
  
  .slider__control[data-slide='prev'] {
    left: 0;
  }
  
  .slider__control[data-slide='next'] {
    right: 0;
  }
  
  .slider__control:hover,
  .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
  }
  
  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  
  .slider__control[data-slide='prev']::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
  .slider__control[data-slide='next']::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  
  /* индикаторы */
  
  .slider__indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .slider__indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 5px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  
  .slider__indicators li.active {
    background-color: rgba(255, 255, 255, 0.9);
  }

.info-container {
    margin-top: 15px;
}

.slider__main {
    display: flex;
}

.video-info {
    display: flex;
}

.video-info_title {
    width: 200px;
    margin-right: 80px;
}

.video-info_tags {
    display: flex;
}

.video-info_name {
    & > h1 {
        font-weight: 100;
    }
}

.video-info_tags-text {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Myriad Pro';
    color: #ffff;
    margin-right: 5px;
}

.video-info_date-views {
    display: flex;
    font-size: 10px;
    margin-top: 13px;
}

.video-info_date {
    margin-right: 17px;
}

.video-rating {
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin-right: 80px;
}

.video-rating_item {
    width: 65px;
}

.video-rating_item_rating-amount {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Myriad Pro';
    color: #fff;
    text-align: right;
}

.video-nav {
    display: flex;
    flex-direction: column;
}

.video-nav_button:hover {
    opacity: 0.8;
}

// comment

.video-comment_user {
    display: flex;
    margin-top: 46px;
}

.video-comment_user-top_avatar {
    margin-right: 15px;
    padding: 5px 0px;
}

.video-comment_user-top_name {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Myriad Pro';
    color: #fff;
    margin-bottom: 10px;
}

.video-comment_user-information {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Myriad Pro';
    color: #fff;
}

.video-comment_amount {
    display: flex;
    margin-top: 45px;
    margin-left: 40px;
}

.video-comment_amount-text {
    margin-right: 5px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Myriad Pro';
    color: #fff;
}

.comment-form {
    background-color: #0a0f2b;
    border-bottom: 2px solid #fff;
    width: 380px;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Myriad Pro';
    margin-top: 67px;
    padding: 5px;
}

.video-comment_form {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-left: 40px;
}

.video-comment_form-button {
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Myriad Pro';
    text-align: right;
    text-decoration: none;
    margin-top: 23px;
}

.video-comment_list-user {
    display: flex;
    margin-bottom: 32px;
}

.video-comment_list-user_avatar {
    padding: 5px;
    margin-right: 12px;
}

.video-comment_list-user_name {
    display: flex;
    padding: 5px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Myriad Pro';
    align-items: center;
    text-align: center;
}

.video-comment_list-text_item {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Myriad Pro';
    color: #fff;
    margin-left: 40px;
    margin-bottom: 30px;
}


@media (max-width: 1240px) {
    .header-inner {
        margin: 0px 20px;
    }
}

@media(max-width: 900px) {

    .header-inner {
        flex-wrap: wrap;
    }

    .header-navigation_menu {
        width: 30%;
        display: flex;
        justify-content: space-around;
    }

    .header-authorization {
        margin-right: 20px;
    }

    .header-navigation_burger {
        margin-top: 100px;
        display: block;
        position: relative;
    }

    .header-menu > a {
        margin-right: 20px;
    }

    .header-button {
        margin-top: 25px;
        margin-bottom: 100px;
    }
}

@media(max-width: 750px) {

    .header-logo {
        width: 100%;
        text-align: center;
        & > a > img {
            width: 200px;
            height: 140px;
        }
    }

    .header-menu {
        margin-top: 40px;
    }

    .header-authorization {
        margin-top: 40px;
    }

    .header-navigation_burger {
        margin-top: 40px;
    }

    .header-navigation_menu {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }

    .slider-video {
        margin: 0px auto;
        width: 80%;
        height: 350px;
    }

    .info-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .slider__main {
        flex-wrap: wrap;
    }

    .button-container {
        margin-left: 20px;
    }

    .video-info_title {
        width: 100%;
        margin-bottom: 35px;
    }
    
    .video-comment_form {
        margin-left: 0px;
        width: 310px;
    }

    .comment-form {
        width: 310px;
    }
    
    .video-comment_form-button {
        font-weight: 100;
        font-size: 15px;
    }

    .video-comment_list-text_item {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-family: 'Myriad Pro';
        color: #fff;
        margin-left: 25px;
        margin-bottom: 30px;
        margin-right: 70px;
    }
} 

@media(max-width: 400px) {

    .header-inner {
        justify-content: end;
    }

    .header-logo {
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    .header-navigation_menu {
        width: 100%;
    }

    .header-authorization {
        width: 60%;
        margin-top: 30px;
    }

    .header-navigation_burger {
        margin-bottom: 20px;
        text-align: right;
        margin-right: 35px;
        margin-top: 30px;
    }
    
    .button-container {
        margin-left: 20px;
    }

    .slider__item {
        font-size: 20px;
    }

    .video-info_title {
        width: 100%;
        margin-right: 0px;
    }

    .video-info_tags-text {
        font-size: 12px;
    }
    
    .video-rating {
        width: 100%;
        justify-content: start;
    }

    .video-rating_item {
        width: 65px;
        margin-right: 45px;
    }

    .video-nav {
        flex-direction: row;
    }

    .video-nav_button {
        margin-right: 20px;
        margin-top: 20px;
    }

    .video-comment_form {
        width: 290px;
    }
    .comment-form {
        width: 290px;
    }
}