.App {
  background-color: #0A0F2B;
}

html {
  background-color: #0A0F2B;
}

.logo {
  text-align: center;
  margin-right: 500px;
}
.imgLogo {
  height: 100px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header-logo {
  display: inline-block;
}

.App-header {
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-object {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.centerScreen {
  display: flex;
  align-items: center;
  justify-content: center;
}


.centerImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgDetails {
  display: block ruby;
}

.details {
  padding-left: 16px;
}

.imgDetails p {
  color: #A29247;
}

.tags {
  margin: 0;
}
.login {
  float: right;
  padding: 0;
  margin: 0;
  padding-right: 15px;
  color: white;
}

.login a {
  color: white;
  margin-top: 20px;
  text-decoration: none;
  position: absolute;
}

button {
  margin-bottom: 1em;
}

.deleteBtnBlock {
 float: right;
}

.errMsgDisabled {
  color: red;
  font-size: 10px;
}

.objSource {
  margin-top: 20px;
}

.objSource a {
  color: white;
  text-decoration: none;
}

.successUploadResponse p {
  color: green;
}

.emptyUploadResponse p {
  display: none;
}

.errorUploadResponse p {
  color: red;
}

#uploadResponseMessage {
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
