.App {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}

html {
    background-color: #0A0F2B;
}

#root {
    background-color: #0A0F2B;
}

.logo {
}

.imgLogo {
    height: 100px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header-logo {
    display: inline-block;
}

.App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: white;

}

.App-header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.App-object {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.centerScreen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerScreen__commentInput {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.centerScreen__commentInput textarea {
    resize: none;
}

.centerScreen__commentInput button {
    box-sizing: border-box;
    padding: 8px 16px;
    background-color: #201C39;
    border: 1px solid #EEF509;
    color: #fff;
    border-radius: 5px;
}


.centerImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details {
}

.imgDetails p {
    color: #A29247;
    margin: 0;
}

.tags {
    margin: 0;
}

.fileName {

}

.login a {
    color: white;
    margin-top: 20px;
    text-decoration: none;
    position: absolute;
}

button {
    margin-bottom: 1em;
}

.deleteBtnBlock {
    float: right;
}

.errMsgDisabled {
    color: red;
    font-size: 10px;
}

.objSource {
    margin-top: 20px;
}

.objSource a {
    color: white;
    text-decoration: none;
}

.successUploadResponse p {
    color: green;
}

.emptyUploadResponse p {
    display: none;
}

.errorUploadResponse p {
    color: red;
}

#uploadResponseMessage {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
