.LoginPage {
    max-width: 1280px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.LoginPage__content {
    display: flex;
    justify-content: center;
}

.LoginPage__form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    color: #fff;
}

.LoginPage__button {
    display: flex;
    justify-content: end;
}