.swipeBtn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border: 0;
}

.showTimeObject {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border: 0;
}

.swipeBtnBlock {
    position: absolute;
}

.swipeBtnBlock button {
    background: unset;
}

.image {

}

.nextSwipe {

}

.previousSwipe {
    text-align: center;
}

.updateTypeBlockMain {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.updateTypeBtn {
    margin: 50%;
    background-color: #4CAF50;
}

.touchedBtn {
    background-color: #4CAF50;
}

.hearts {
    display: flex;
    margin: 0 auto;
    gap: 50px;
    position: relative;
}

.heartBlock {
    display: flex;
}

.heartBlock p {
    color: white;
    font-size: 10px;
    margin: 0;
    position: relative;
}

.likeImg {
    max-width: 30px;
    max-height: 30px;
}

.disLikeImg {
    max-width: 30px;
    max-height: 30px;
    transform: rotate(180deg);
}

.nextArrowImg {
    height: 40px;
    width: 50px;
}

.prevArrowImg {
    transform: rotate(180deg);
    height: 40px;
    width: 50px;
}

.updateTypeBlockMain ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 0;
}

.updateTypeBlockMain li {
    color: black;
    font-weight: 700;
    text-decoration: none;
    background: white;
    margin: 0;
}

.heartsCounter {
    text-align: center;
    margin: 0;
}


/*another one form*/

.uploadFormDiv {
    float: right;
    background-color: #EFEFEF;
}

.uploadForm label {
    margin: 10px;
    color: black;
}

.uploadForm input {
    margin: 10px;
    color: black;
}

.updateTypeBlockMain ul .album {
    transition: 0.5s ease background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #EFEFEF;
    border-color: #EEF509;
    color: black;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    border-width: 2px;
    width: 100px;
    height: 30px;
    text-align: center;
}

.updateTypeBlockMain ul .active {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    background-color: #A29247;
    border-color: #EEF509 #EEF509;
    color: black;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    border-width: 2px;
    width: 100px;
    height: 30px;
    text-align: center;
}

.auth-btn {
    background-color: #201C39 !important;
    border-color: #EEF509 !important;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
    border-radius: 5px !important;
    border-width: 2px !important;
    transition: 0.5s ease background-color, 0.5s ease color;
}

.auth-btn:hover {

    background-color: #A29247 !important;
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.59);
}

.noneBtn {
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}