.shareLink {

}

.shareLink__button {
    border: unset;
    padding: 8px 16px;
    background-color: #201C39;
    border: 1px solid #EEF509;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    color: #fff;
}

.shareLink__buttonIcon {
    width: 25px;
    height: 25px;
    color: white;
}

.shareLink__buttonIcon img {
    width: 100%;
    height: 100%;
    color: white;
    filter: invert(1);
}


.shareLink__button_close {
    padding: 4px 12px;
    box-sizing: border-box;
    background-color: #201C39;
    border: 1px solid #EEF509;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shareLink__modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease opacity, 0.2s ease visibility;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

}

.shareLink__modal_opened {
    opacity: 1;
    visibility: visible;
}

.shareLink__overlay {
    opacity: 0.2;
    background: #000;
    position: absolute;
    height: 100%;
    width: 100%;
}

.shareLink__content {
    color: white;
    position: relative;
    background: #212121;
    padding: 15px;
    border-radius: 12px;
    margin: 15px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 100vh;

}

.shareLink__content__header {
    display: flex;
    justify-content: space-between;
}

.shareLink__content__text {
    overflow: auto;
}

.shareLink__contentHeader {
    display: flex;
    align-items: center;
    gap: 10px;
}

.shareLink__contentHeader__SN {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.shareLink__contentHeader__SN_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: gray;
}

.shareLink__content__url {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: black;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
}

.shareLink__content__urlButton {
    padding: 4px 12px;
    box-sizing: border-box;
    background-color: #201C39;
    border: 1px solid #EEF509;
    color: #fff;
    border-radius: 5px
}