<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Sticky-Stick</title>
</head>
<body>
<div>

    <header>
        <div class="container">
           <div class="header-inner">

            <div class="header-logo">
                <a href="#"><img src="img/logo.png" alt=""></a>
            </div>

            <div class="header-navigation_menu">
                <div class="header-menu" id="header-menu">
                    <a href="#" class="header-button">Video</a>
                    <a href="#" class="header-button">Image</a>
                </div>
            </div>

            <div class="header-authorization">
                <a href="#">LoginForm</a>
            </div>

            <div class="header-navigation_burger">
                <div class="header-navigation_burger-stick"></div> 
                <div class="header-navigation_burger-stick"></div>
                <div class="header-navigation_burger-stick"></div>
            </div>



           </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="main-inner">

                <div class="slider">
                    <div class="slider__container">
                        <div class="slider__wrapper">
                            <div class="slider__items">

                                <div class="slider__item">

                                    <div class="slider__item-video">
                                        <iframe width="650px" height="350" src="https://www.youtube.com/embed/21cs5Tm9Odw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="slider-video"></iframe>
                                    </div>

                                    <div class="button-container">

                                        <div class="slider-button_open">
                                            <a href="#"><img src="img/main/button.png" alt="button" class="img-button"></a>
                                        </div>

                                    </div>

                                    <div class="info-container">

                                        <div class="slider__main">

                                            <div class="video-info">

                                                <div class="video-info_title">

                                                    <div class="video-info_tags">
                                                        <p class="video-info_tags-text">#tag1</p>
                                                        <p class="video-info_tags-text">#tag2</p>
                                                        <p class="video-info_tags-text">#tag3</p>
                                                    </div>

                                                    <div class="video-info_name">
                                                        <h1>Название файла</h1>
                                                    </div>

                                                    <div class="video-info_date-views">

                                                        <div class="video-info_date">
                                                            <p>01.04.2022</p>
                                                        </div>
                                                        <div class="video-info_view">
                                                            <p>0 просмотров</p>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                                <!-- слайдер 2-->


                                <div class="slider__item">

                                    <div class="slider__item-video">
                                        
                                        <iframe width="650px" height="350" class="slider-video" src="https://www.youtube.com/embed/x5iJ18-3Psw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                                    </div>

                                    <div class="button-container">

                                        <div class="slider-button_open">
                                            <a href="#"><img src="img/main/button.png" alt="button" class="img-button"></a>
                                        </div>

                                    </div>

                                    <div class="info-container">

                                        <div class="slider__main">

                                            <div class="video-info">

                                                <div class="video-info_title">

                                                    <div class="video-info_tags">
                                                        <p class="video-info_tags-text">#tag1</p>
                                                        <p class="video-info_tags-text">#tag2</p>
                                                        <p class="video-info_tags-text">#tag3</p>
                                                    </div>

                                                    <div class="video-info_name">
                                                        <h1>Название файла</h1>
                                                    </div>

                                                    <div class="video-info_date-views">

                                                        <div class="video-info_date">
                                                            <p>01.04.2022</p>
                                                        </div>
                                                        <div class="video-info_view">
                                                            <p>0 просмотров</p>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="video-rating" id="anchor">
                                                <div class="video-rating_item">
                                                    <a href="#"><img src="img/main/like.png" alt="like"></a>
                                                    <p class="video-rating_item_rating-amount">100</p>
                                                </div>
                                                <div class="video-rating_item">
                                                    <a href="#"><img src="img/main/like.png" alt="dislike"></a>
                                                    <p class="video-rating_item_rating-amount">100</p>
                                                </div>
                                            </div>

                                            <div class="video-nav">
                                                <a href="#" class="video-nav_button"><img src="img/main/save.png" alt="save"></a>
                                                <a href="#" class="video-nav_button"><img src="img/main/share.png" alt="save"></a>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                                                <!-- конец 2 слайда -->
                            </div>

                        </div>
                    </div>
                    <!-- Кнопки для перехода к предыдущему и следующему слайду -->
                    <a href="#" class="slider__control" data-slide="prev"></a>
                    <a href="#" class="slider__control" data-slide="next"></a>
                </div>

            </div>
        </div>
    </main>


    <script src="source/js/button.js"></script>
</html>